<div class="container">

<p id="notice"><%= notice %></p>

<h1>Imported Texts</h1>
<div class="row">
  <div class="col-sm-6">

</div>
    <% @imported_texts.each do |imported_text| %>

    <%= render partial: 'shared/imported_text_card', locals: { card: imported_text } %>

    <% end %>

  </div>
<br>

<%= link_to 'New Imported Text', new_imported_text_path %>
</div>
