// Place all the styles related to the ImportedTexts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#imported_text_content {
  width: 700px;
  height: 400px;
}

#imported_text_title {
  height: 20px;
  width: 500px;
}